@import "../../styles/variables.scss";

.language-swithcer {
  border: 1px solid $dark-gray;
  background-color: transparent;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 4px;
  font-weight: 300;
  margin: auto 1rem;
  width: 2.2rem;
}
