@import "../../styles/variables.scss";
#carousel {
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
  }
  .carousel-control-prev-icon:after,
  .carousel-control-next-icon:after {
    content: "";
    display: inline-block;
    border: solid $cream-white;
    border-width: 0 5px 5px 0;
    padding: 8px;
  }
  .carousel-control-prev-icon:after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .carousel-control-next-icon:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
