@import "../../styles/variables.scss";

.specifications {
  padding: 0 0 3rem 0;
  background-color: $cream-white;
  .specification {
    display: flex;
    align-items: center;
    border: 1px solid $text-color;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    .wrapper {
      background-color: $text-color;
      border-radius: 8px;
      padding: 1rem;
      margin-right: 1rem;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    span {
      display: block;
      line-height: 1rem;
      font-weight: 600;
    }
  }
}
