@import "../../styles/variables.scss";

.advantages {
  padding: 3rem 0;
  background-color: $cream-white;
  .wrapper {
    margin-bottom: 2rem;
    padding: 0 1rem;
    img {
      width: 100%;
      margin-bottom: 1rem;
    }
    p {
      color: $text-color;
      font-size: 1rem;
      font-weight: 400;

      span {
        font-size: 1.3rem;
      }
    }
  }
}
