@import "../../styles/variables.scss";

.home {
  display: flex;
  padding-top: 5rem;
  height: 100svh;
  background-image: url("../../assets/images/home-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    margin: 0;
  }

  h4 {
    font-size: 12px;
    line-height: 12px;
    margin: 0;
  }
}

@media (min-width: 576px) {
  .home {
    h1 {
      font-size: 5rem;
      line-height: 5rem;
    }
  }
}

@media (min-width: 768px) {
  .home {
    h1 {
      font-size: 6rem;
      line-height: 6rem;
    }
  }
}

@media (min-width: 992px) {
  .home {
    padding-top: 10rem;
    h1 {
      font-size: 7rem;
      line-height: 7rem;
    }
  }
}

@media (min-width: 1200px) {
  .home {
    padding-top: 13rem;
    h1 {
      font-size: 8rem;
      line-height: 8rem;
    }
  }
}

@media (min-width: 1400px) {
  .home {
    padding-top: 15rem;

    h4 {
      font-size: 2rem;
    }
    h1 {
      font-size: 10rem;
      line-height: 10rem;
    }
  }
}
