@import "../../styles/variables.scss";

.area-range {
  width: 100%;
  padding: 1rem 0;
  label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: $dark-gray;
    font-weight: 700;
    // Define variables for easy customization

    // Styling the range input
    input[type="range"] {
      // Removing the default appearance
      -webkit-appearance: none; // For Chrome, Safari, and Opera
      appearance: none;
      width: 100%; // Full width
      height: 2px; // Specified height of the slider
      margin: 2rem 0 1rem 0;

      // Styling the track
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        background: $text-color;
        border-radius: 5px;
      }

      &::-moz-range-track {
        width: 100%;
        height: 2px;
        background: $text-color;
        border-radius: 5px;
      }

      &::-ms-track {
        width: 100%;
        height: 2px;
        background: $text-color;
        border-radius: 5px;
      }

      // Styling the thumb
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px; // Width of the thumb
        height: 18px; // Height of the thumb
        background: $text-color;
        cursor: pointer; // Cursor changes to pointer when hovering over the thumb
        border-radius: 50%; // Circular shape
        margin-top: -8.5px; // Centers the thumb over the track
      }

      &::-moz-range-thumb {
        width: 18px;
        height: 18px;
        background: $text-color;
        cursor: pointer;
        border-radius: 50%;
      }

      &::-ms-thumb {
        width: 18px;
        height: 18px;
        background: $text-color;
        cursor: pointer;
        border-radius: 50%;
      }

      // Hover effect for the thumb
      &:hover::-webkit-slider-thumb {
        background: $text-color;
      }

      &:hover::-moz-range-thumb {
        background: $text-color;
      }

      &:hover::-ms-thumb {
        background: $text-color;
      }
    }

    .values {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      color: $text-color;
    }
  }
  .price {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid $dark-gray;
    border-radius: 8px;
    font-weight: 600;
  }
}

@media (min-width: 576px) {
  .area-range {
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .area-range {
    width: 30rem;
  }
}
