@import "../../styles/variables.scss";

.form {
  background-color: $cream-white;
  padding: 3rem 0;
  .container {
    display: flex;
    justify-content: center;
    .wrapper {
      padding: 2rem 1.5rem;
      position: relative;
      width: 100%;
      max-width: 30rem;

      .form-is-sent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0;
        img {
          width: 8rem;
          margin-bottom: 1rem;
        }
        h3 {
          max-width: 266px;
        }
      }

      h3 {
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
      }
      form {
        display: flex;
        flex-direction: column;
        label {
          font-size: 0.7rem;
          line-height: 0.8rem;
          font-weight: 400;
          color: $text-color;
        }

        .form-control {
          border: none;
          border-radius: 8px;
          background-color: $text-color;
          color: $cream-white;
          padding: 0.3rem;
          min-height: 2rem;

          &:focus {
            box-shadow: none;
          }
        }

        .error {
          color: rgb(210, 61, 61);
          font-size: 0.7rem;
          line-height: 0.7rem;
          margin-bottom: 0.3rem;
        }

        .input-margin {
          margin-bottom: 1rem;
        }
        .submit-button {
          margin: 1rem 0;
          border: none;
          background-color: $text-color;
          color: $cream-white;
          height: 2.5rem;
          border-radius: 8px;
          font-weight: 600;
          font-size: 1rem;
          &:hover,
          &:focus,
          &:active {
            background-color: $dark-gray;
          }
        }
      }
      &::after,
      &::before {
        display: block;
        position: absolute;
        content: "";
        height: calc(100% - 60%);
        width: calc(100% - 70%);
      }
      &::after {
        top: 0;
        left: 0;
        border-top: 2px solid $dark-gray;
        border-left: 2px solid $dark-gray;
      }
      &::before {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid $dark-gray;
        border-right: 2px solid $dark-gray;
      }
    }
  }
}
