@import "../../styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  background-color: transparent;
  color: $text-color;
  z-index: 10;
  &.scrolled {
    background-color: $cream-white; // Change to the color you want after scrolling
  }

  .navbar {
    .nav-item {
      font-weight: 600;
      .nav-link {
        color: $text-color;
      }
    }
    .phone {
      font-weight: 400;
    }
    .navbar-toggler {
      border: none;
    }

    .navbar-toggler:focus {
      box-shadow: none;
    }

    .navbar-collapse.collapsing {
      transition: all;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .navbar-collapse.show {
      padding: 2rem 0;
      width: 100%;
      background-color: $cream-white;
      text-align: center;
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .header {
    .navbar {
      .nav-item {
        margin-left: 1rem;
      }
    }
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
