@import "../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: $text-color;
  background-color: $cream-white;

  h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
